-r requirements.txt
Sphinx>=3
pydata-sphinx-theme
sphinxcontrib-bibtex
sphinx-gallery
jupyter-sphinx
matplotlib
pygments>=2.4.1
# Fix docutils version due to https://github.com/mcmtroffaes/sphinxcontrib-bibtex/issues/309
docutils==0.17.1
pandas